<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>home</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <%- include('layouts/style.css.ejs') -%>
</head>
<body>
<header>
    <%- include('layouts/menu.left.ejs') -%>
    <div class="song-side">
        <%- include('layouts/menu.header.ejs') -%>
        <!--        ảnh chạy-->
        <div class="slideshow-container">

            <div class="mySlides fade">
                <img src="/shaun.png"
                     style="width:100%; height: 400px">
            </div>
            <div class="mySlides fade">
                <img src="/aer.png"
                     style="width:100%; height: 400px">
            </div>
            <div class="mySlides fade">
                <img src="/pp1.png"
                     style="width:100%; height: 400px">
            </div>
            <div class="mySlides fade">
                <div class="numbertext"></div>
                <img src="/pp1.png"
                     style="width:100%; height: 400px">
            </div>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <!--        Hết ảnh chạy-->
        <div class="text-home">
            <p>Chào Mừng Bạn Đến Với Thế Giới Âm Nhạc</p>
        </div>
        <div class="song-side__new-release">
            <div class="song-side__playlist--popular">
                <div class="playlist__popular--title">Bài hát nổi bật</div>
            </div>
            <div class="song-side__playlist--carousel">
                <div class="swiper swiper__new-release">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <% item.forEach((item, index) => { %>
                        <div class="song-side__new-release--item swiper-slide">
                            <div class="song-side__new-release--thumbnail">
                                <img src="<%= item.image %>">
                                <i class="bi bi-play-circle"></i>
                            </div>
                            <div class="song-side__new-release--content">
                                <div class="new-release__info">
                                    <div class="new-release__info--title"><%= item.name %></div>
                                    <div class="new-release__info--subtitle"><%= item.singer %></div>
                                    <br>
                                    <audio  controls style="max-width: 100px">
                                        <source src="/<%= item.filename %>" type="audio/ogg">
                                    </audio>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>

            </div>
        </div>
        <div class="song-side__new-release">
            <div class="song-side__playlist--popular">
                <div class="playlist__popular--title">Top Podcast hay</div>
            </div>
            <div class="song-side__playlist--carousel">
                <div class="swiper swiper__new-release">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="song-side__new-release--item swiper-slide">
                            <div class="song-side__new-release--thumbnail">
                                <img src="vietsuccess.png">
                                <audio controls>
                                        <source src="/detoiomemlancuoi.mp3" type="audio/ogg">
                                    </audio>
                            </div>
                            <div class="song-side__new-release--content">
                                <div class="new-release__info">
                                    <div class="new-release__info--title">Giao Tiếp Thế Nào Cho Hiệu Quả</div>
                                    <div class="new-release__info--subtitle">Vietsucess</div>
                                    <br>
                                    <div class="new-release__info--subtitle">PODCAST</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="swiper swiper__new-release">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="song-side__new-release--item swiper-slide">
                            <div class="song-side__new-release--thumbnail">
                                <img src="sutute.png">

                            </div>
                            <div class="song-side__new-release--content">
                                <div class="new-release__info">
                                    <div class="new-release__info--title">Sự Tử Tế & Những Lời Khen</div>
                                    <div class="new-release__info--subtitle">Hiếu Nguyễn</div>
                                    <br>
                                    <div class="new-release__info--subtitle">PODCAST</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="swiper swiper__new-release">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="song-side__new-release--item swiper-slide">
                            <div class="song-side__new-release--thumbnail">
                                <img src="/hieung.png">
                                <audio controls>
                                    <source src="/detoiomemlancuoi.mp3" type="audio/ogg">
                                </audio>
                            </div>
                            <div class="song-side__new-release--content">
                                <div class="new-release__info">
                                    <div class="new-release__info--title">Những Lối Mòn Cuộc Sống</div>
                                    <div class="new-release__info--subtitle">Hiếu Nguyễn</div>
                                    <br>
                                    <div class="new-release__info--subtitle">PODCAST</div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>


        <!-- bottom -->
        <%- include('layouts/bottom.ejs') -%>
    </div>
</header>

<%- include('layouts/js.ejs') -%>>
</body>
</html>